# Merge the data
Merge the data from the individual runners into a single data frame

In [1]:
#Get the csv data for the runners
import pandas as pd
import numpy as np

#All runners basic data
data = pd.read_csv("Data/Runner_Data.csv") #Merged data from the website

In [2]:
data.head(1)

,Unnamed: 0,Place Overall,Place Gender,Place Division,Name (CTZ),Link,"City, State",BIB,Division,Age,HALF,Finish,Gender
0,0,1,1,1.0,"» Kirui, Abel (KEN)",?content=detail&fpid=list&pid=list&idp=9999991...,NaN,3,30-34,34.0,01:06:51,02:11:23,Male

In [18]:
data_path = 'Data/RunnerData/'
run_file = data_path + 'RunnerBIB_%05d.csv' %data.BIB[0]
rdata = pd.read_csv(run_file)
rdata.head()
#remove the unnamed element

#for each element, add them to the data dataframe.

,Unnamed: 0,start_time,t05k,t10k,t15k,t20k,tHalf,t25k,t30k,t35k,...,kmh05,kmh10,kmh15,kmh20,kmhHalf,kmh25,kmh30,kmh35,kmh40,kmhFinal
0,0,07:30:03,00:16:07,00:32:04,00:47:43,01:03:08,01:06:51,01:18:44,01:34:57,01:50:11,...,11.58,11.69,11.92,12.1,11.0,12.25,11.49,12.25,12.64,12.69

In [6]:
#delete the first column
rdata.head(1)
rdata.pop('Unnamed: 0')

0    0
Name: Unnamed: 0, dtype: int64

In [14]:
# add each element to the original data
for elem in rdata:
    data[elem] = ''

In [19]:
#loop over all runners, 
#look at the BIB number, and load the dataframe for that BIB to rdata
#pop the unnamed
#add the values from rdata to data for that entry
#after looping, save the data to csv and exit. BOOM
nrunners = len(data.BIB)
data_path = 'Data/RunnerData/'
for nf in range(0,5):
    #read the data 
    rtemp_file = data_path + 'RunnerBIB_%05d.csv' %data.BIB[nf]
    rdata = pd.read_csv(rtemp_file)
    #remove the first element
    rdata.pop('Unnamed: 0')
    # add the info to data dataframe
    for elem in rdata:
        data[elem][nf] = rdata[elem][0]
    if nf%mod ==0:
        print '%d \t %s' %(nf,rtemp_file)
print 'Done scanning through files'

/Users/angelmanzur/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0 	 Data/RunnerData/RunnerBIB_00003.csv
1 	 Data/RunnerData/RunnerBIB_00003.csv
2 	 Data/RunnerData/RunnerBIB_00003.csv
3 	 Data/RunnerData/RunnerBIB_00003.csv
4 	 Data/RunnerData/RunnerBIB_00003.csv
Done scanning through files

In [17]:
data.head()

,Unnamed: 0,Place Overall,Place Gender,Place Division,Name (CTZ),Link,"City, State",BIB,Division,Age,...,kmh05,kmh10,kmh15,kmh20,kmhHalf,kmh25,kmh30,kmh35,kmh40,kmhFinal
0,0,1,1,1.0,"» Kirui, Abel (KEN)",?content=detail&fpid=list&pid=list&idp=9999991...,NaN,3,30-34,34.0,...,11.58,11.69,11.92,12.1,11,12.25,11.49,12.25,12.64,12.69
1,1,2,2,1.0,"» Chumba, Dickson (KEN)",?content=detail&fpid=list&pid=list&idp=9999991...,NaN,1,25-29,29.0,...,11.57,11.69,11.91,12.09,11.03,12.24,11.49,12.25,12.63,12.59
2,2,3,3,1.0,"» Kipketer, Gideon (KEN)",?content=detail&fpid=list&pid=list&idp=9999991...,NaN,7,20-24,23.0,...,,,,,,,,,,
3,3,4,4,2.0,"» Lonyangata, Paul (KEN)",?content=detail&fpid=list&pid=list&idp=0000001...,NaN,6,20-24,24.0,...,,,,,,,,,,
4,4,5,5,2.0,"» Sambu, Stephen (KEN)",?content=detail&fpid=list&pid=list&idp=9999991...,NaN,8,25-29,28.0,...,,,,,,,,,,